<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rateit</title>
</head>
<body>
 <nav>
    <div class="nav-wrapper" style= "background:#f90606;" >
      <a href="/" class="brand-logo"> Ranker</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/ranking">Ranking</a></li>
        <li><a href="/random">Random</a></li>
        <li><a href="/add">Add</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>