<% include partials/header %>

<div class ="center-align">
           <h1> Upload your favorite car picture <h1>
  </div>
        <div class="center-align ">
                <form action ="" method ="POST">  
                <label for ="imageurl"> Upload image </label>
                <div class="input-field col s6">
                <input style= "width: 50%;" type ="text" name ="imageurl" >    
                </div>
                <button type ="submit"> Submit URL </button> 
                <!--    <button  class = "circle card-panel hoverable"type="submit"><img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/44_smiley-128.png'> <button class = "card-panel hoverable" type = "submit"><img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/32_smiley-128.png'></button> -->
                </form>
        </div>