<div>
           <h1> Upload your favorit car picture <h1>
  </div>
        <div class="center-align ">
                <form action ="" method ="POST">  
                <label for ="imageurl"> Upload image </label>
                <input type ="text" name ="imageurl" >       
                <button type ="submit"> Submit URL </button> 
                <!--    <button  class = "circle card-panel hoverable"type="submit"><img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/44_smiley-128.png'> <button class = "card-panel hoverable" type = "submit"><img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/32_smiley-128.png'></button> -->
                </form>
        </div>