<% include partials/header%>
 <div class="center-align ">
        <form action ="/:id" method ="POST">  
        <img src ="<%= image.imageurl% >">
       <!-- BUTTONS BELOW -->
       <div>
       <p> Up votes: <%= image.upvotes %> </p>
        <button  class = "circle card-panel hoverable" name ="vote" type="submit" value ="up">
        <img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/44_smiley-128.png'>
         </div>

         <div>
         <p>  Down votes : <%= image.upvotes %> </p>
         <button class = "card-panel hoverable" type = "submit" name ="vote" value ="down">
        <img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/32_smiley-128.png'></button> 
          </div>    
        </form>
        </div>
<% incudle partials/footer%>