<% include partials/header %>

  <div class="center-align ">
    <form action="/<%= image._id %>" method="POST">
      <img  style =" margin:auto; max-width:60%;" src="<%= image.imageurl %>">
      <!-- BUTTONS BELOW -->
      <div>
      
        <button class="circle card-panel hoverable" name="vote" type="submit" value="up">
          <img  src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/44_smiley-128.png'>
         <p> Up votes:
          <%= image.upvotes %>
        </p>
        <button class="card-panel hoverable" type="submit" name="vote" value="down">
          <img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/32_smiley-128.png'>
           <p> Down votes:
          <%= image.downvotes %>
        </p>
        </button>
      </div>
    </form>
  </div>
  <% include partials/footer %>