<% include partials/header%>
 <div class="center-align ">
                <form action ="/" method ="POST">  
                <img  name = "random" style= "height: 200px; width: 350px;" src = "<%= db[x]["imageurl"] %> ">
                <button  class = "circle card-panel hoverable"type="submit" name = "vote" value = "up"><img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/44_smiley-128.png'> <button class = "card-panel hoverable" type = "submit" name ="vote" value = "down"><img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/32_smiley-128.png'></button> 
                </form>
        </div>
<% incudle partials/footer%>