<% include partials/header%>
<h1 class="center-align"> Welcome to Ranker!  </h1>
        <div class="carousel" style="margin: auto;"> 
            <% for(var key in db ) { %>
                    <a class="carousel-item" style="width: 20vw;" href ="/<%=  db[key]._id %>" id ="<%=  db[key]._id %>"> 
                        <img src ="<%= db[key]['thumburl'] || db[key]['imageurl'] %> "></a>
            <% } %> 
        </div>
</div>
 <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script> $(document).ready(function(){
       $('.carousel').carousel();
     });
</script>
<% include partials/footer%>
