<% include partials/header%>

        <div class="carousel">
            <% for(var key in db ) { %>
                 <a class="carousel-item" href ="/<%=  db[key]._id %>" id ="<%=  db[key]._id %>"> <img src ="<%= db[key]["imageurl"]%> "></a>
          <%  }%>

 
              </div>

<% include partials/footer%>
