<% include partials/header%>



<img src ="<%= db[key]["imageurl"]%> ">

<button  class = "circle card-panel hoverable" name ="vote" type="submit" value ="up"><img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/44_smiley-128.png'> <button class = "card-panel hoverable" type = "submit" name ="vote" value ="down"><img src='https://cdn2.iconfinder.com/data/icons/happy-smile-1/512/32_smiley-128.png'></button> 

<% include partials/footer%>