<% include partials/header %>

<% for(var id_rank = 0; id_rank<db.length; id_rank++) { %>
<h3> <%=  id_rank + 1  %></h3>
 <img  style ="margin:auto; max-width:60%;  height: 20vh;" src="<%= db[id_rank]["imageurl"] %>">


<% } %>

<% include partials/footer %>